.yellow{
	background-color: yellow;
	padding-bottom: 3em;
	width: 200px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}


.grey{
	background-color: grey;
	padding-bottom: 3em;
	width: 200px;
    height: 100px;
    display: inline-block;
    margin: 20px;

}

h4,p{
	padding: 0.4em; 
}

.grey h4{
	color: white;
}
